.app {
  padding: 2rem;
}
/* UserForm */
.form-control{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

label{
  font-weight: bold;
  color: #777;
  font-size: 0.9rem;
}

input, textarea {
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

textarea{
  height: 120px;
}